.wr-preview {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.header .wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 70px;
    height: 44px;
}
.header .nav-container {
   padding-left: 256px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav li {
    margin-left: 60px;
}
.nav a {
    font-family: "TT-Regular", sans-serif;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
}
 .nav .main {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
  

/*footer*/

footer {
    padding-top: 50px;
}
.wr-footer {
    background-color:  #2C2C2C;
    height: 417px;
    display: flex;
    flex-direction:column;
}
.wr-footer .container {
    display: flex;
    flex-direction: row;
}
.wr-footer h2 {
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}
.wr-footer .logotype {
    width: 145px;
    height: 94px;
    padding-top: 58px;
    padding-left: 116px;
}
.wr-footer .info-block {
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 157px;
}
.info-block a {
    padding-top: 16px;
    padding-right: 40px;
}
.wr-footer .contact-block{
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 157px;
}
.wr-footer a {
    text-decoration: none;
    font-style: 14px;
    line-height: 24px;
    color: #FFF;
}
.contact-block .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 11px;
}
.block p {
    padding-left: 19px;
    white-space: pre-line;
}
/*.contact .phone {
    display: flex;
    flex-direction: row;
    width: 314px;
    height: 72px;
    align-items: center;
    padding-top: 18px;
}*/
.block a {
    padding-left: 19px;
}

/*.contact .mail {
    display: flex;
    flex-direction: row;
    width: 314px;
    height: 72px;
    align-items: center;
    padding-top: 18px;
}*/
/*.mail p {
    padding-left: 19px;
}*/
.wr-footer .network{
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    color: #FFF;
    padding-right: 264px;
}

.wr-footer .network{
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    color: #FFF;
    padding-left: 120px;
}

.network .net-icons {
    display: flex;
    justify-content: space-between;
}
.net-icons img {
    padding-right: 40px;
}
.wr-footer .copyright {
    padding-top: 60px;
}

.copyright p {
    font-size: 12px;
    color: #C8C8C8;
    text-align: center;
    border-top: 1px solid #FFF;
    opacity: 0.1;
    margin: 0;
    padding-top: 15px;
}


