@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";
@import "./important.css";





.wr-intro .wrapper {
display: flex;
justify-content: space-between;
padding-top: 48px;
padding-left: 15px;
font-style: 64px;
}
.wr-intro h1 {
    padding-top: 92px;
}
.wr-intro .button {
    margin-top: 160px;
}
.wr-intro .pages {
    padding-top: 70px;
}

.wr-intro .img-block {
    position: relative;
}
.wr-intro .block-button {
    position: absolute;
    bottom: 0;
    left: 0;
}
 .wr-intro a{
     color: #333;
     border: 2px solid #fff;
     background-color: #fff;
 }


/*section about company*/

 .wr-about {
    background-color: #fbfbfb;
    height: 440px;
    max-width: 1170px;
    margin: auto;
}
 .wr-about .wrapper {
   display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.wr-about .picture-one {
    padding-left: 100px;
}
.picture-one .img-one {
    padding-top: 30px;
}
.picture-one .img-two {
    padding-top: 30px;
}
.picture-two .img-two {
    padding-top: 60px;
    padding-left: 30px;
}
.about-us {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 30px;
}
.about-us h2 {
    font-size: 64px;
    color: #bdbdbd;
    padding-top: 30px;
    margin: 0;
}
.about-us p {
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}
.wr-about .block-button {
    justify-content: flex-start;
}
 .wr-about a{
     color: #333;
     border: 2px solid #fff;
     background-color: #fff;
 }
 

/*section tasks*/

.wr-tasks .wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
}
.task-one {
    display: flex;
    flex-direction: row;
    padding-right: 154px;
}
.task-two {
        display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.task-one .task-text {
    font-size: 22px;
    line-height: 36px;
    width: 279px;
    height: 144px;
    padding-left: 30px;
}
.task-two .task-text {
        font-size: 22px;
        line-height: 36px;
        width: 420px;
        height: 144px;
        padding-left: 30px;
}

    /*section product*/


.wr-product .wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.wr-product .title-block {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.wr-product .img-block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.text-block {
    background-image: url(../media/main5.jpeg);
    width: 570px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.text-block:hover {
    box-shadow:0 0 0 128px rgba(0, 0, 0, 0.4) inset;
}
.text-block p {
    font-size: 64px;
    color: #fff;
    padding-top: 48px;
    padding-left: 75px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-block a {
    font-size: 12px;
    letter-spacing: 3px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;
    padding-top: 14px;
}
.text-block .arrow {
    padding-left: 15px;
}

.title-block .img {
    background: #000;
    overflow:hidden;
}
.img img {
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    display: block;
}
.img:hover img {
    opacity: 0.4;
}
.shadow {
    background: #000;
    overflow:hidden;
}
.shadow img {
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    display: block;
}
.shadow:hover img {
    opacity: 0.4;
}

.wr-product .block-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.wr-product .block {
    color: #fff;
    border: 2px solid #333;
    background-color: #333;
}



/* section forms*/


.wr-connection .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.wr-connection .container {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.container .form {
    display: flex;
    flex-direction: column;
}
.container img {
    padding-left: 30px;
}
.form-button {
    max-width: 222px;
    min-height: 71px;
}
.form-button a {
    color: #fff;
    text-decoration: none;
}
.wr-connection .container img {
    max-height: 369px;
}
.popup  {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup-content {
    background-color: #fff;
    max-width: 516px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.popup-close {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.popup-show {
    line-height: 26px;
    letter-spacing: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-show h2 {
    font-family: "TT-Bold"; 
    font-size: 24px;
    margin:  32px 0 0 0;
}
.popup-show p {
    font-family: "TT-Medium";
    font-size: 14px;
    margin: 27px 0 0 0;
}
.popup-show a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #333;
    background-color: #333;
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}