a {
    text-decoration: none;
}
button {
    font-size: 12px;
    text-align: center;
    width: 222px;
    height: 71px;
    background-color: transparent;
    padding: 0;
    border: none;
}
body {
    font-family: "TT-Regular", sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
.wrapper {
    max-width: 1170px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
@media (max-width:1200px ) {
    .wrapper {
        max-width: 970px;
    }
}
@media (max-width:992px ) {
    .wrapper {
        max-width: 750px;
    }
}
@media (max-width:767px ) {
    .wrappere {
        max-width: none;
    }
}


/*header*/

.wr-preview {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.header .wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 70px;
    height: 44px;
}
.header .nav-container {
   padding-left: 256px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav li {
    margin-left: 60px;
}
.nav a {
    font-family: "TT-Regular", sans-serif;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
}
 .nav .main {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
  /*common style*/

.caption {
    font-size: 64px;
line-height: 64px;
color: #BDBDBD;
padding-right: 400px;
}

    .wrapper h1 {
        font-family: "TT-Bold";
        font-size: 64px;
        color: #333333;
        line-height: 64px;
        font-weight: 700;
        text-transform: uppercase;
        white-space: pre-line;
        margin: 0;
    }
    .wrapper h1:first-line {
        font-family: "TT-Regular";
        font-weight: 300;
        color: #BDBDBD;
        padding-bottom: 22px;
    }
    

/*indicators (projects/gallert/sertificates)*/


.indicates  {
    
    padding-top: 75px;
}
.indicates .button{
    padding-left: 26px;
}
.button button:nth-child(1) {
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2; 
}
.button button:nth-child(2) {
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-left: 23px;
}
.pages {
    font-size: 24px;
    color: #BDBDBD;
    display: flex;
    flex-direction: row;
}
.pages img {
    padding: 0 32px;
}
    
    /*button*/


.block-button {
        display: flex;
        justify-content: flex-start;
}
.block-button button {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 3px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
}
.arrow {
        padding-left: 15px;
}
/*footer*/

footer {
    padding-top: 50px;
}
.wr-footer {
    background-color:  #2C2C2C;
    height: 417px;
    display: flex;
    flex-direction:column;
}
.wr-footer .container {
    display: flex;
    flex-direction: row;
}
.wr-footer h2 {
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}
.wr-footer .logotype {
    width: 145px;
    height: 94px;
    padding-top: 58px;
    padding-left: 116px;
}
.wr-footer .info-block {
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 157px;
}
.info-block a {
    padding-top: 16px;
    padding-right: 40px;
}
.wr-footer .contact-block{
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 157px;
}
.wr-footer a {
    text-decoration: none;
    font-style: 14px;
    line-height: 24px;
    color: #FFF;
}
.contact-block .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 11px;
}
.block p {
    padding-left: 19px;
    white-space: pre-line;
}
/*.contact .phone {
    display: flex;
    flex-direction: row;
    width: 314px;
    height: 72px;
    align-items: center;
    padding-top: 18px;
}*/
.block a {
    padding-left: 19px;
}

/*.contact .mail {
    display: flex;
    flex-direction: row;
    width: 314px;
    height: 72px;
    align-items: center;
    padding-top: 18px;
}*/
/*.mail p {
    padding-left: 19px;
}*/
.wr-footer .network{
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    color: #FFF;
    padding-right: 264px;
}

.wr-footer .network{
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    color: #FFF;
    padding-left: 120px;
}

.network .net-icons {
    display: flex;
    justify-content: space-between;
}
.net-icons img {
    padding-right: 40px;
}
.wr-footer .copyright {
    padding-top: 60px;
}

.copyright p {
    font-size: 12px;
    color: #C8C8C8;
    text-align: center;
    border-top: 1px solid #FFF;
    opacity: 0.1;
    margin: 0;
    padding-top: 15px;
}


